body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5); /* Gradiente de colores */
    text-align: center;
    padding-top: 50px;
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad para que el gradiente sea visible */
    padding: 30px;
    margin: auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}